<ion-content style="padding: 0px; margin: 0px; background-color: #3aa7e1 !important;">

  <ion-card style="padding: 0px; margin: 0px; width: 100%; background-color: #3aa7e1;    -webkit-box-shadow: none!important;
    box-shadow: none!important;" >
   <img src="assets/imgs/ini_sesion.jpg" style="width: 100%;" />

      <div style="padding: 15px;">
       <ion-list no-margin style="background-color: #3aa7e1;">

          <ion-item >
              <ion-label color="tres"> <ion-icon name="contact" color="tres"></ion-icon> </ion-label>
              <ion-input class="my-input" [(ngModel)]="login.usuario" placeholder="Usuario">{{login.usuario}}  </ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label color="tres"> <ion-icon name="lock" color="tres"></ion-icon> </ion-label>
            <ion-input class="my-input" [(ngModel)]="login.password" placeholder="Contrase&ntilde;a"  type="password" > {{login.password}}  </ion-input>
          </ion-item>
<br>
            <button  ion-button color="tres" full class="buttom-light" block (click)="Onlogin()">INGRESAR</button>

       </ion-list>
       </div>
  </ion-card>


</ion-content>
