<ion-header>
  <ion-navbar color="uno">
		<ion-title item-start ><h4 style="font-size: 16px!important">RECAUDOS</h4> </ion-title>
	</ion-navbar>
</ion-header>

<ion-content >

<div *ngIf="estado ==1" >
  <ion-card  *ngFor="let item of facturas;let idx = index;let id = idx" class="animated fadeInRight">

    {{id}}
     <ion-card-header>

       Documento #{{item.id_factura}}
       <span style="float:right;" > Saldo {{item.saldo | currency:'USD':true:'1.0-5'}} </span>
     </ion-card-header>
     <ion-card-content>

       <ion-grid>
         <ion-row>
<label>Valor Anticipo:</label><br>
             <input currencyMask [options]="{ prefix: '$ ', thousands: '.',precision:0,align:'left' }"  [(ngModel)]="numeros_fac_model[idx]" [name]="numeros_fac_model[idx]" placeholder="ingrese valor" style="width:100%;border-buttom:1px solid rgba(0,0,0,0.6)" />
             <hr>
         </ion-row>
         <ion-row>
             <ion-textarea placeholder="Observaciones" [(ngModel)]="observaciones_acticipo[idx]" > </ion-textarea>
         </ion-row>
         <ion-row>
           <ion-col left text-left col-12> <b>Anticipo: {{valorAnticipo | currency:'USD':true:'1.0-5'}}</b> </ion-col>
         </ion-row>

         <ion-item>
            <ion-label>Tipo: </ion-label>
      <ion-select [(ngModel)]="tipoAnticipo[idx]">
      <ion-option value="E" selected="true">Efectivo</ion-option>
      <ion-option value="C">Cheque</ion-option>
      <ion-option value="T">transferencia</ion-option>

      </ion-select>
      </ion-item>
      <ion-item *ngIf="tipoAnticipo[idx] == 'C'">
         <ion-label>Banco</ion-label>
                          <ion-select [(ngModel)]="banco_anticipo_c"  >
                            <ion-option *ngFor="let banco of bancos" [value]="banco.codigo">{{banco.nombre}}</ion-option>
                          </ion-select>


        </ion-item>
        <ion-item *ngIf="tipoAnticipo[idx] == 'C'">

          <ion-input type="number" placeholder="Cheque Nro." [(ngModel)]="num_anticipo" ></ion-input>


        </ion-item>
        <ion-item *ngIf="tipoAnticipo[idx] == 'C'">
          <ion-label>Posfechado</ion-label>
          <ion-checkbox  checked="false" value="S" [(ngModel)]="anticipo_posfechado" ></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="tipoAnticipo[idx] == 'T'" style="font-size: 1.1rem;">

                        <ion-label>Banco</ion-label>
                        <ion-select [(ngModel)]="banco_anticipo_t" (ionChange)='changeBancoTrans()'>
                          <ion-option *ngFor="let banco of bancos_trans" [value]="banco.codigo">{{banco.nombre}}</ion-option>
                        </ion-select>


                        <ion-label>Cuenta</ion-label>
                        <ion-select [(ngModel)]="cuenta_anticipo" >
                          <ion-option *ngFor="let cuenta of cuentas_trans" [value]="cuenta.cuenta_corr">{{cuenta.cuenta_corr}}</ion-option>
                        </ion-select>

          </ion-item>
         <ion-row>
           <ion-col center text-center col-6 style="padding-bottom:0px;">
               <button ion-button full color="primary" (click)="resumen_recaudo(numeros_fac_model[idx],item.id_factura,tipoAnticipo[idx])" [disabled]="numeros_fac_model[idx] > item.saldo || !numeros_fac_model[idx]"><span style="color:white!important">GUARDAR</span></button>
           </ion-col>
          <!-- <ion-col center text-center col-6 style="padding-bottom:0px;">
               <button ion-button small color="danger" class="buttom-light" (click)="ionViewCanLeave()">CANCELAR</button>
           </ion-col> -->
         </ion-row>


       </ion-grid>
     </ion-card-content>
   </ion-card>
</div>

  <!--FIN DE CONTENIDO ANTICIPO-->
  <ion-card  >
    <ion-list inset no-margin style="margin: 0px; font-size: 1.2rem;">
      <button ion-item *ngFor="let documento of documentos" class="list-articulos" style="font-size: 1.2rem; padding: 5px;"
        (click)="form_detalleDocumento(documento)" >
            <ion-grid>
                <ion-row>
                  <ion-col text-left col-3 class="span-primary" > {{documento.tipo_doc}}{{documento.numero}} </ion-col>
                  <ion-col text-center col-4> {{documento.fecha_venc | date }} </ion-col>
                  <ion-col text-right col-5> Saldo:{{documento.saldo | currency:'USD':true:'1.0-5'}} </ion-col>
                </ion-row>
            </ion-grid>
          </button>
    </ion-list>
  </ion-card>
  <ion-fab right bottom >
<button ion-fab color="uno" [ngClass]="{'animated infinite heartBeat': contArticulos > 0}"><ion-icon  style="color:white!important;" name="add"></ion-icon></button>
<ion-fab-list side="left">

<button ion-fab mini color="uno"  (click)="ir_visita()" ><ion-icon name="map" style="color:white!important;"></ion-icon></button>

</ion-fab-list>
</ion-fab>


</ion-content>
