<!--
  Generated template for the PedidosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="uno">
		<ion-title item-start ><h4 style="font-size: 16px!important">{{nameCliente}}</h4> </ion-title>
	</ion-navbar>

  <ion-list class="list-head">

    <ion-item no-lines>
      <h3><ion-icon name="navigate" item-start></ion-icon>{{direccionCliente}}</h3>
    </ion-item>
    <ion-item no-lines>
      <h3 >
          <ion-icon name="person" item-start></ion-icon>{{contactoCliente}}
      </h3>

    </ion-item>
  </ion-list>



</ion-header>




<ion-content style="background-color: white!important;">
  <ion-searchbar style="color:#000 !important;" placeholder="Buscar Articulos"
  [(ngModel)]="filtroCliente"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="buscarArticulo($event)"
  (ionCancel)="onCancel($event)" *ngIf="isShownConfirm('lista')"> </ion-searchbar><br>
  <ion-list *ngIf="isShownConfirm('lista')">
    <div *ngFor="let articulo of articulos" >
    <ion-item class="animated fadeIn" no-lines (click)="form_pedidosCliente(
                                        articulo.articulos_id_articulo,
                                        articulo.articulos_codigo,
                                        articulo.articulos_descripcion,
                                        articulo.precios_valor,
                                        articulo.articulos_iva_vigente,
                                        articulo.articulos_existencia,
                                        articulo.articulos_umv)">
      <ion-avatar item-start>
        <img src="./assets/imgs/shop.svg">
      </ion-avatar>
      <h2>{{articulo.articulos_descripcion}}</h2>
      <h3>{{articulo.articulos_codigo}}</h3>
      <p>Exist: {{articulo.articulos_existencia}}</p>
    </ion-item><br>
    </div>
  </ion-list>

    <!--FIN DE CONTENIDO LIST ARTICULOS BUSCADOS-->

  <!--CONTENIDO ARTICULO SELECCIONADO <ion-card *ngIf="!filtroArticulo" >-->
    <ion-card *ngIf="isShownConfirm('confirm')" class="animated bounceInLeft" style="padding: 1em;" >

          <ion-card-header style="padding: 0px;">
            <ion-item no-lines>
              <p>{{articuloSel.descripcion}}</p>
              <p>UMV: {{articuloSel.umv}}</p>
              <button ion-button clear item-end (click)="cancelarItem()"> <ion-icon name="close"></ion-icon></button>
            </ion-item>

          </ion-card-header>
          <ion-item no-lines>
            <ion-label stacked><p>Cantidad:</p></ion-label>
            <ion-input  type="number" placeholder="0.00" [(ngModel)]="cantidadItem">{{cantidadItem}}</ion-input>
          </ion-item>
          <ion-grid>
            <ion-row>

              <!-- <ion-col style="padding: 0;" center text-left col-4>
                <ion-item>
                  <ion-label stacked><p>Desc (%):</p></ion-label>
                  <ion-input type="number" class="input-number" placeholder="0.00" [(ngModel)]="desc1" >{{desc1}}</ion-input>
                </ion-item>
              </ion-col> -->
              <!--<ion-col style="padding: 0;" center text-left col-4>
                <ion-item>
                  <ion-label stacked><p>Desc 2:</p></ion-label>
                  <ion-input type="number" class="input-number" placeholder="0.00" [(ngModel)]="desc2" >{{desc2}}</ion-input>
                </ion-item>
              </ion-col>-->
            </ion-row>
            <ion-row>
              <ion-col left text-left col-6>Valor Unitario: <b>{{articuloSel.precio| currency:'USD':true:'1.0-5'}}</b></ion-col>
              <ion-col right text-right col-6>Total: {{ getTotalItemSel( cantidadItem, articuloSel.precio, articuloSel.iva, desc1, desc2) | currency:'USD':true:'1.0-5'}}</ion-col>
            </ion-row>
          </ion-grid>
          <p align="center">
            <button style="width: 95%;" ion-button color="tres" [disabled]="!cantidadItem" class="buttom-light" block (click)="addItemCart()">CONFIRMAR</button>
          </p>
        </ion-card>
        <!--FIN CONTENIDO ARTICULO SELECCIONADO-->


          <ion-fab right bottom >
   <button ion-fab color="uno" [ngClass]="{'animated infinite heartBeat': contArticulos > 0}"><ion-icon  style="color:white!important;" name="add"></ion-icon></button>
   <ion-fab-list side="left">
     <button ion-fab mini color="uno"  (click)="verFormConfirmarPedido()" ><ion-icon name="cart" style="color:white!important;"></ion-icon></button>
     <button ion-fab mini color="uno"  (click)="ir_visita()" ><ion-icon name="map" style="color:white!important;"></ion-icon></button>

   </ion-fab-list>
 </ion-fab>

 <div *ngIf="contArticulos > 0">
 <ion-fab bottom right class="animated heartBeat" [ngClass]="{'animated infinite heartBeat': contArticulos > 0}">

   </ion-fab>
   </div>

</ion-content>
