<ion-header>

  <ion-list class="list-head">
    <ion-item>
      <ion-avatar item-start> <img class="avatar-head" name="contact" src="assets/imgs/usuario.svg"> </ion-avatar>
      <p>Bienvenid@!!!</p>
      <h2>{{nameUsuarioActual}}</h2>
    </ion-item>
  </ion-list>

</ion-header>

<ion-content padding style="background-color: white!important;">

  <ion-searchbar placeholder="Buscar Cliente" [(ngModel)]="filtroCliente"  [showCancelButton]="shouldShowCancel"  (ionInput)="buscarCliente($event)"  (ionCancel)="onCancel($event)"></ion-searchbar>
<br>
  <ion-list >
    <div *ngFor="let user of users" >
    <ion-item class="animated fadeInRight" no-lines (click)="form_recaudosCliente(
                                        user.clientes_id_cliente,
                                        user.clientes_codigo,
                                        user.clientes_nombre,
                                        user.clientes_nombre_factura,
                                        user.clientes_direccion,
                                        user.clientes_fecha_visita)">
      <ion-avatar item-start>
        <img src="./assets/imgs/user.svg">
      </ion-avatar>
      <h2>{{user.clientes_codigo}} - {{user.clientes_nombre}}</h2>
      <h3>{{user.clientes_nombre_factura}}</h3>
      <p>{{user.clientes_direccion}}</p>
    </ion-item><br>
    </div>
  </ion-list>
 <!-- <ion-infinite-scroll (ionInfinite)="cargarMas($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando mas clientes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->

  <!--  sdasdasd -->
</ion-content>
