<ion-header>

	<ion-list class="list-head">
		<ion-item style="padding: 0.3em;padding-left:1em;">
			<ion-avatar item-start> <img class="avatar-head" name="contact" src="assets/imgs/usuario.svg"> </ion-avatar>
			<p>Bienvenid@</p>
			<h2>{{nameUsuarioActual}}</h2>

		</ion-item>

	</ion-list>



		<!--<ion-searchbar placeholder="Buscar Cliente" [(ngModel)]="filtroCliente" [showCancelButton]="shouldShowCancel" (ionInput)="getSearchClientes($event)" (ionCancel)="onCancel($event)"> </ion-searchbar>-->

</ion-header>

<ion-content >
	<ion-card *ngIf="filtroCliente" >
		<ion-list class="list-content">
			<ion-list-header>Clientes</ion-list-header>
			<button ion-item color="dos" *ngFor="let cliente of clientes" class="list-clientes" (click)="form_pedidosCliente(cliente.id,cliente.razon_social,cliente.contacto,cliente.direccion)" >
				<ion-grid>
					<ion-row>
						<ion-col col-5 > <h3>{{cliente.id}} </h3> </ion-col>
						<ion-col col-7 > <h3>{{cliente.razon_social}}</h3> </ion-col>
					</ion-row>
				</ion-grid>
			</button>
		</ion-list>
	</ion-card>

	<ion-card >
		<ion-list  class="list-content">
		<ion-card-header>Tus Resultados</ion-card-header>
			<ion-item class="animated  bounceInRight">
				<ion-avatar item-start> <img class="avatar-head" name="contact" src="assets/imgs/recaudo-64.png"> </ion-avatar>
				<h1 >{{ranking?.num_pedidos}}</h1>
				<h4>VENTAS</h4>
				<div padding align="center" class="div-posiciones" color="secondary" item-end icon-left>
					<h1 color="secondary"> {{ranking?.posicion}} </h1>
					<h4 color="secondary"> Posici&oacute;n </h4>
				</div>

			</ion-item>

		</ion-list>

<!--
<ion-list class="list-content">
	<ion-item *ngFor="let rank of ranking">
		<ion-avatar item-start> <img class="avatar-head" name="contact" src="assets/imgs/recaudo-64.png"> </ion-avatar>
		<h1>{{rank.num_pedidos}}</h1>
		<h2>Pedidos</h2>
		<div padding align="center" class="div-posiciones"  item-end icon-left>
			<h1> {{rank.posicion}} </h1>
			<h3> Posici&oacute;n </h3>
		</div>
	</ion-item>

</ion-list>

-->
  		<!--<button ion-button full danger (click)="clear()">Cleaning</button>
		 <ion-list>
		    <ion-item *ngFor="let log of locationTracker.logs">
		      {{ log }}
		    </ion-item>
		  </ion-list>-->



	</ion-card>
	<ion-card >
		<ion-list  class="list-content">
		<ion-card-header>Tus Resultados</ion-card-header>
			<ion-item class="animated  bounceInLeft">
				<ion-avatar item-start> <img class="avatar-head" name="contact" src="assets/imgs/clipboard-64.png"> </ion-avatar>
				<h1>{{ranking?.recaudos_total}}</h1>
				<h4>Recaudos</h4>
			<!--	<div padding align="center" class="div-posiciones" color="secondary" item-end icon-left>
					<h1 color="secondary"> 0 </h1>
					<h4 color="secondary"> Posici&oacute;n </h4>
				</div>
 -->
			</ion-item>

		</ion-list>
<ion-fab bottom right >
  <button ion-fab color="uno" (click)="panico()"><ion-icon style="color:white!important;" name="alert"></ion-icon></button>

</ion-fab>

<!--
<ion-list class="list-content">
	<ion-item *ngFor="let rank of ranking">
		<ion-avatar item-start> <img class="avatar-head" name="contact" src="assets/imgs/recaudo-64.png"> </ion-avatar>
		<h1>{{rank.num_pedidos}}</h1>
		<h2>Pedidos</h2>
		<div padding align="center" class="div-posiciones"  item-end icon-left>
			<h1> {{rank.posicion}} </h1>
			<h3> Posici&oacute;n </h3>
		</div>
	</ion-item>

</ion-list>

-->
  		<!--<button ion-button full danger (click)="clear()">Cleaning</button>
		 <ion-list>
		    <ion-item *ngFor="let log of locationTracker.logs">
		      {{ log }}
		    </ion-item>
		  </ion-list>-->



	</ion-card>


</ion-content>


<!--<ion-list>
  <ion-item-group reorder="true" (ionItemReorder)="$event.applyTo(items)">
    <ion-item *ngFor="let item of items">{{ item }}</ion-item>
  </ion-item-group>


 border: 2px solid;
    float: right;
    border-color: #CCC;
    border-radius: 5px;
    padding: 5px;

</ion-list>-->
