<!--
  Generated template for the VisitaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="uno">
		<ion-title item-start ><h4 style="font-size: 16px!important">{{nameCliente}}</h4> </ion-title>
	</ion-navbar>

  <ion-list class="list-head">

    <ion-item no-lines>
      <h3><ion-icon name="navigate" item-start></ion-icon>{{direccionCliente}}</h3>
    </ion-item>
    <ion-item no-lines>
      <h3 >
          <ion-icon name="person" item-start></ion-icon>{{contactoCliente}}
      </h3>

    </ion-item>
  </ion-list>



</ion-header>


<ion-content padding>
  <!-- Textarea with custom number of rows and cols -->
  <ion-item>
  <ion-label>Motivo: </ion-label>
  <ion-select [(ngModel)]="motivo" multiple="false">
    <ion-option *ngFor="let motivo of motivos" [value]="motivo.motivosvisitas_id">{{motivo.motivosvisitas_descripcion}}</ion-option>

  </ion-select>
</ion-item>


  <button ion-button full color="dos"  (click)="evidencia()" name="button"><span style="color: white!important;">Tomar Foto</span></button>
  <button ion-button full color="uno"  [disabled]="!motivo" (click)="subir(motivo)" name="button"><span style="color: white!important;">Enviar</span></button>
    <img [src]="base64Image" alt="">
</ion-content>
